### Package lock
package-lock.json

### Node Modules
/node_modules

### webpack app.js generated
/public/app.js
/public/app.js~main

### db connection info
/db/index.js
db/.DS_Store

/client/resources/.DS_Store
/public/.DS_Store
.DS_Store
